[submodule "AvionEngineCore/libs/imgui"]
	path = AvionEngineEditor/libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "AvionEngineCore/libs/glfw"]
	path = AvionEngineCore/libs/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "AvionEngineCore/libs/assimp"]
	path = AvionEngineCore/libs/assimp
	url = https://github.com/assimp/assimp.git
	branch = master
